body {
    padding: 0;
    margin:0;
}
.flex {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
}
.code-pane {
    width: 30%;
    border-right: 1px solid #aaa;
}
.graph-pane {
    position: relative;
    width: 70%;
    align-content: center;
    vertical-align: middle;
}
.fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.error-marking {
    background-color: #fdd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.error-widget {
    background-color: #fdd;
    overflow: hidden;
    padding: 3px;
}
.CodeMirror {
    height: auto !important;
}